
<div class="container-fluid m-top">
  <div class="row">
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-5">
      <div class="au-text au">
        We have over 25 years of residential and commercial construction experience. We are fully licensed with the state of Massachusetts.
        We are trusted by our customers due to the high level of detail and pride we put into our work. We do everything we can to ensure our customers are 100% satisfied with the outcome of the project.
        There is no job too small or too large for us to take on as we have the experience, knowledge, and equipment needed to get the job done right the first time.
      </div>
    </div>
    <div class="col-sm-12 col-md-5 eq">
      <div class="eq-text">
        We use state of the art equipment that gets the job done quickly, safely, and effectively. We operate all equipment with care and are very attentive to only blast what is needed and not damage any property.
      </div>
      <img src="../../assets/images/equipment.png" class="eq-image">
    </div>
    <div class="col-sm-12 col-md-1"></div>
  </div>
  <div class="row m-bottom-row">
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-10 cu">
      <span class="c-link"><a (click)="routeToContact()">Contact Us</a></span> today to get started on your next project!
    </div>
    <div class="col-sm-12 col-md-1"></div>
  </div>
</div>

<!--
<div class="container-fluid">
  <div class="row au">
    <div class="col-sm-12 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <h3>About Us</h3>
        <div class="au-text">
        We have over 25 years of residential and commercial construction experience. We are fully licensed with the state of Massachusetts.
        We are trusted by our customers due to the high level of detail and pride we put into our work. We do everything we can to ensure our customers are 100% satisfied with the outcome of the project.
        There is no job too small or too large for us to take on as we have the experience, knowledge, and equipment needed to get the job done right the first time.
        <br />
        <span class="c-link"><a (click)="routeToContact()">Contact Us</a></span> today to get started on your next project!
        <br /><br />
      </div>
    </div>
    <div class="col-sm-12 col-md-3"></div>
  </div>
    <div class="row eq">
      <div class="col-sm-12 col-md-3">
      </div>
      <div class="col-sm-12 col-md-6">
        <h3>Equipment</h3>
        <div class="eq-text">
        We use state of the art equipment that gets the job done quickly, safely, and effectively. We operate all equipment with care and are very attentive to only blast what is needed and not damage any property.
        </div>
        <img src="../../assets/images/equipment.png" class="eq-image">
      </div>
      <div class="col-sm-12 col-md-3"></div>
  </div>
</div>
-->
