

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 au">
      <h3>About Us</h3>
      We have over 25 years of residential and commercial construction experience. We are fully licensed with the state of Massachusetts.
      We are trusted by our customers due to the high level of detail and pride we put into our work. We do everything we can to ensure our customers are 100% satisfied with the outcome of the project.
      There is no job too small or too large for us to take on as we have the experience, knowledge, and equipment needed to get the job done right the first time.
      <br />
      <span class="c-link"><a (click)="routeToContact()">Contact Us</a></span> today to get started on your next project!
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 eq">
        <h3>Equipment</h3>
        We use state of the art equipment that gets the job done quickly, safely, and effectively.
        <img src="../../assets/images/equipment.png" class="eq-image">
      </div>
  </div>
</div>
