.contact-row {
  margin-top: 8px;
}

.contact-data {
  padding: 5px;
}

.contact-ta {
  height: 200px;
}

.cu {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
  background: #004c00;
  color: #fff;
  padding-bottom: 10px;
  margin-top: 25px;
  h3 {
    color: #fff;
  }
}

.cd {
  border-left: 1px solid #fff;
  text-align: center;
}

.label {
  font-weight: bold;
}

.submit-button {
  background: #00048b;
  border: none;
  border-radius: 3px;
  padding: 5px;
  min-width: 50%;
  float: right;
  color: #fff;
  font-size: 18px;
  &:hover {
    background: #020450;
  }
}

.no-margin {
  margin-right: 0 !important;
}

.c-link {
  a {
    color: #b8cf69 !important;
  }
  a:hover {
    color: #b8cf69 !important;
  }
}

