

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 cu">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h3>Contact Us</h3>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-sm-12 col-md-1"></div>
        <div class="col-sm-12 col-md-5">
            We are based out of Princeton, MA servicing any location in Massachusetts. We would love to discuss your project in detail
          and explain our process and services further. Please complete the form below and we will be in touch soon.
        </div>
        <div class="col-sm-12 col-md-5 cd">
          <span class="label">Phone: </span> <span class="c-link"><a href="tel:978-464-6071">(978) 464-6071</a></span> <br />
          <span class="label">Email: </span> <span class="c-link"><a href="mailto:ADUSTLESS@HOTMAIL.COM">ADUSTLESS@HOTMAIL.COM</a></span> <br />
          <span class="label">Address: </span> 242 E Princeton Rd, Princeton, MA 01541
        </div>
        <div class="col-sm-12 col-md-1"></div>
      </div>
    </div>
  </div>
  <div class="row contact-row">
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-5 contact-data">
      <input class="form-control form-control-lg" type="text" placeholder="First Name">
    </div>
    <div class="col-sm-12 col-md-5 contact-data">
      <input class="form-control form-control-lg" type="text" placeholder="Last Name">
    </div>
    <div class="col-sm-12 col-md-1"></div>
  </div>
  <div class="row contact-row">
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-5 contact-data">
      <input class="form-control form-control-lg" type="text" placeholder="Phone Number" maxlength="10">
    </div>
    <div class="col-sm-12 col-md-5 contact-data">
      <input class="form-control form-control-lg" type="text" placeholder="Email Address">
    </div>
    <div class="col-sm-12 col-md-1"></div>
  </div>
  <div class="row contact-row">
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-10 contact-data">
      <textarea class="form-control form-control-lg contact-ta" placeholder="Tell Us About Your Project"></textarea>
    </div>
    <div class="col-sm-12 col-md-1"></div>
  </div>
  <div class="row contact-row">
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-6 contact-data"></div>
    <div class="col-sm-12 col-md-4 contact-data">
      <button class="submit-button">Submit</button>
    </div>
    <div class="col-sm-12 col-md-1"></div>
  </div>
</div>
