<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <header class="header">
        <a routerLink="home" class="logo"><img src="../assets/images/adb_logo.png" class="logo" title="Affordable Dustless Blasting"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a routerLink="about" routerLinkActive="active-link">About Us</a></li>
          <li><a routerLink="our-work" routerLinkActive="active-link">Our Services</a></li>
          <li><a routerLink="contact" routerLinkActive="active-link">Contact Us</a></li>
        </ul>
      </header>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<!--

<footer class="footer">
  COPYRIGHT &copy; {{year}} AFFORDABLE DUSTLESS BLASTING
</footer>
-->

<footer class="footer-distributed">
  <div class="footer-left">
  </div>
  <div class="footer-center">
    COPYRIGHT &copy; {{year}} AFFORDABLE DUSTLESS BLASTING
  </div>
  <div class="footer-right">
  </div>
</footer>
