
<div class="container-fluid">
  <div class="row db">
    <div class="col-sm-12 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <h3>Welcome to Affordable Dustless Blasting!</h3>
      Dustless Blasting is a process that strips paint, cleans, and removes virtually any coating from any surface.
      This revolutionary process allows us to remove all remnants of old coatings more quickly, safely, and efficiently than other methods. Once complete, all that is
      left is a smooth and clean surface that can be made new again.
    </div>
    <div class="col-sm-12 col-md-3"></div>
  </div>
</div>

<div class="container-images">
  <div data-am-gallery>
    <!-- Radio -->
    <input type="radio" name="gallery" id="img-1" checked />
<!--    <input type="radio" name="gallery" id="img-2" />-->
    <!--<input type="radio" name="gallery" id="img-3" />-->
    <!-- Images -->
    <div class="images">
      <div class="image" style="background-image: url(../assets/images/auto_b_a_1.png);"></div>
    <!--  <div class="image" style="background-image: url(../assets/images/graffiti_b_a_1.png);"></div>-->
      <!--<div class="image" style="background-image: url(/assets/images/heavy_equipment_b_a_1.png);"></div>-->
    </div>

    <!-- Navigation -->
   <!-- <div class="navigation">
      <label class="dot" for="img-1"></label>
      <label class="dot" for="img-2"></label>
      <label class="dot" for="img-3"></label>
    </div>-->
  </div>

</div>
