/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  //background-color: #fff !important;
  margin: 0;
}

h1,h2,h3 {
  color: #004c00;
  text-align: center;
}

.btn-primary {
  background-color: #0606bd !important;
  border-color: #0606bd !important;
}

